section{
    width: 40%;
    margin: auto;
    background-color: rgb(157, 211, 255);
    padding: 5em;
    text-align: center;
}

.input_data{
    margin: 1em;
}

.btn{
    display: inline-block;
    background-color: rgb(255, 225, 142);
    padding: 1em;
    border-radius: 30%;
}

